@page
@model CV.Pages.ProjectModel
@{
    ViewData["Title"] = "Projects";
}

@foreach (var projectItem in Model.ProjectItems)
{
    <div class="d-flex flex-row justify-content-between align-items-center item-title">
        <div class="col-8">
            <div class="companyName">
                <img class="workImage" src="~/img/@projectItem.Image"/>
                @projectItem.SiteName
            </div>
            <div class="workTitle">
                <i class="far fa-address-card"></i>
                @projectItem.Description
            </div>
        </div>
        <div class="col-4">
            <div>
                Last Updated:
                @projectItem.Date
            </div>
            <div>
                <i class="fas fa-map-marked-alt"></i>
                <a src="@projectItem.Url">@projectItem.Url</a>
            </div>
        </div>
    </div>
    <div>
        <ul class="fa-ul listItem">
            @foreach (var item in projectItem.TechnologyUsed)
        {
            <li>
                @item
            </li>
        }
            
        </ul>
    </div>
    <div class="border-container">
        <img src="~/img/border.png" />
    </div>

}

