@page
@model CV.Pages.ProjectModel
@{
    ViewData["Title"] = "Projects";
}

@*   
    <partial name="_ProjectList" model="new PartialViewModel<ProjectItem> { ItemList = Model.SearchedProjectItems, IsForSearch = true }" />
 *@
@foreach (var projectItem in Model.ProjectItems)
{
         <div class="card my-2">
        <div class="card-header">
            <div class="d-flex flex-wrap justify-content-between align-items-center item-title">
                <div class="p-2 flex-grow-1">
                    <div class="companyName">
                        <img class="workImage" src="~/img/@workItem.Image" />
                        @workItem.CompanyName
                    </div>
                    <div class="workTitle">
                        <i class="far fa-address-card"></i>
                        @workItem.Position
                    </div>
                </div>
                <div class="p-1">
                    <div>
                        <i class="far fa-calendar-alt"></i> @workItem.Dates
                    </div>
                    <div>
                        <i class="fas fa-map-marked-alt"></i>
                        @workItem.Location
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="fa-ul listItem">
                @foreach (var item in workItem.BulletPoints)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </div>
    </div>
    @* 
    <div class="card my-2">
        <div class="card-header">
            <div class="d-flex flex-wrap justify-content-between align-items-center item-title">
                <div class="p-2 flex-grow-1">
                    <div class="companyName">
                        <img class="workImage" src="~/img/@projectItem.Image" />
                        @projectItem.SiteName
                    </div>
                    @if (!string.IsNullOrWhiteSpace(projectItem.Url))
                    {
                        <div class="workTitle">
                            <a href="@projectItem.Url"><i class="fas fa-globe"></i>@projectItem.Url</a>
                        </div>
                    }
                </div>
                <div class="p-1">
                    <div>
                        Began Work:
                     </div>
                     <div>
                        <i class="far fa-calendar-alt"></i> @projectItem.Date
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>projectItem.Description</div>
            <ul class="fa-ul listItem">
                @foreach (var item in projectItem.TechnologyUsed)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </div>
    </div>
     *@
}