@page
@model CV.Pages.TechModel
@{
    ViewData["Title"] = "Technological Experience";
}           @foreach (var techCategory in Model.TechCategories)
{
    int count = 0;
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@techCategory.Title</th>
                <th scope="col">Years</th>
                <th scope="col">Expierence</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var techItem in techCategory.Items)
            {

            <tr>
                <td>
                    <img class="techImage" src="~/img/@techItem.Image" />@techItem.Name
                </td>
                <td>
                    @techItem.Years
                </td>
                <td>
                    <div class="rating">
                        @for (int i = @techItem.GetFullStars() - 1; i >= 0; i--)
                        {
                            <i class="fas fa-star rating"></i>
                        }
                        @if (techItem.GetHalfStars() > 0)
                        {
                            <i class="fas rating fa-star-half-alt"></i>
                        }
                        @for (int i = @techItem.GetEmptyStars() - 1; i >= 0; i--)
                        {
                            <i class="far rating fa-star"></i>
                        }
                    </div>

                </td>

                <td>
                    <button class="btn btn-outline-dark"
                       aria-expanded="false"
                       data-toggle="collapse"
                       href='@("#collapseme"+count)'
                       role="button">
                       <div aria-hidden="true" class="expand"></div>
                    </button>
                </td>

            </tr>
                <tr class="collapse out" id='@("collapseme"+count++)'>
                    <td colspan="4">
                        Hello World
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*<div class="d-flex flex-row justify-content-between align-items-center item-title">
            <div class="col-8">
                <div class="companyName">
                    <img class="workImage" src="~/img/@techItem.Image"/>
                    @techItem.Name
                </div>
                <div class="workTitle">
                    <i class="far fa-address-card"></i>
                    @techItem.Years
                </div>
            </div>
            <div class="col-4">
                <div>
                    <i class="far fa-calendar-alt"></i> @techItem.ExperienceLevel
                </div>
                <div>
                    <i class="fas fa-map-marked-alt"></i>
                    @techItem.Years
                </div>
            </div>
        </div>
        <div>
            <ul class="fa-ul listItem">
                @foreach (var item in techItem.BulletPoints)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </div>
        <div class="border-container">
            <img src="~/img/border.png" />
        </div>
    *@
}

