@using CV.Models
@model PartialViewModel<EdItem>

@{
    int count = 0;
}
    <table class="table table-stripedX table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Schools
                    <a href="#"><i class="far fa-caret-square-up"></i></a>
                </th>
                <th scope="col">Degree</th>
                <th scope="col">Graduation</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
 
        <tbody>

            @foreach (var edItem in Model.ItemList.OrderByDescending(i => i.GraduationDate))
            {

            <tr>
                <td scope="row" class="techImageTd">
                    <div class="techImageDiv">
                    @if(!string.IsNullOrWhiteSpace(edItem.Image))
                    {
                        <img class="techImage" src="~/img/@edItem.Image" />
                    }
                    else
                    {
                        <img class="techImage" src="~/img/blank.png" />
                    }
                    </div>
                    <div class="techName">
                        <a href="/Ed/#@edItem.SchoolName">
                        @edItem.SchoolName
                    </a>
                    </div>
                </td>
                <td>
                    <div class="techName">
                    @edItem.Degree
                    </div>
                </td>
                <td>
                    <div class="techName">
                    @edItem.GraduationDate
                    </div>
                </td>

                <td>
                    <button class="btn btn-outline-dark"
                       aria-expanded="false"
                       data-toggle="collapse"
                       href='@("#collapseed"+count)'
                       role="button">
                       <div aria-hidden="true" class="expand"></div>
                    </button>
                </td>

            </tr>
                <tr class="collapse out" id='@("collapseed"+count++)'>
                    <td colspan="4">
                        <ul>
                            @foreach (var bullet in edItem.BulletPoints)
                            {
                            <li>
                                @bullet
                            </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>