@using CV.Models
@model PartialViewModel<ProjectItem>

@foreach(var projectItem in Model.ItemList)
{
        <div class="card my-2" id="@projectItem.ProjectName">
        <div class="card-header">
            <div class="d-flex flex-wrap justify-content-between align-items-center item-title">
                <div class="p-2 flex-grow-1">
                    <div class="companyName">
                        @projectItem.ProjectName
                    </div>
                    <div class="workTitle">
                        <i style="color: darkblue;"class="far fa-file-alt"></i>
                        @projectItem.Purpose
                    </div>
                    @if (projectItem.WorkItem != null)
                    {
                        <div class="workTitle">
                            <i style="color: darkgreen;" class="far fa-building"></i>
                            <a href="/work#@projectItem.WorkItem.Id">@projectItem.WorkItem.CompanyName</a>
                        </div>
                    }
                </div>
                <div class="p-1">
                    <div>
                        @if (@projectItem.CodeAvailable)
                        {
                            <div class="fa-icon">
                                <i style="color: green;"class="far fa-check-circle"></i>
                            </div>
                            @:Code Available
                        }
                        else
                        {
                            <div class="fa-icon">
                                <i class="far fa-times-circle"></i>
                            </div>
                            @:Code Not Available
                        }
                        
                    </div>
                    <div>
                        <div class="fa-icon">
                            <i class="fas fa-bolt"></i>
                        </div>
                        @projectItem.Status
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
                        @if (projectItem.Screenshots != null && projectItem.Screenshots.Count > 0)
                        {
                            <div class="mb-3">
                                <div class="d-flex flex-wrap gap-2">
                                    @for (int i = 0; i < projectItem.Screenshots.Count; i++)
                                    {
                                        var screenshot = projectItem.Screenshots[i];
                                        var modalId = $"screenshotModal_{projectItem.ProjectName.Replace(" ", "_")}_{i}";
                                        <div>
                                            <img src="~/img/@screenshot" 
                                                 alt="@projectItem.ProjectName screenshot @(i + 1)" 
                                                 class="img-thumbnail screenshot-thumbnail" 
                                                 style="max-width: 150px; max-height: 150px; object-fit: cover; cursor: pointer; margin: 5px;" 
                                                 data-toggle="modal" 
                                                 data-target="#@modalId" />
                                        </div>
                                        
                                        <!-- Modal for each screenshot -->
                                        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@(modalId)_label" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="@(modalId)_label">@projectItem.ProjectName - Screenshot @(i + 1)</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <img src="~/img/@screenshot" alt="@projectItem.ProjectName screenshot @(i + 1)" class="img-fluid" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else if (!string.IsNullOrWhiteSpace(projectItem.Screenshot))
                        {
                            <!-- Fallback for the old single screenshot format -->
                            <div class="mb-3">
                                <img src="~/img/@projectItem.Screenshot" 
                                     alt="@projectItem.ProjectName screenshot" 
                                     class="img-thumbnail screenshot-thumbnail" 
                                     style="max-width: 300px; cursor: pointer;" 
                                     data-toggle="modal" 
                                     data-target="#screenshotModal_@projectItem.ProjectName.Replace(" ", "_")" />
                            </div>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="screenshotModal_@projectItem.ProjectName.Replace(" ", "_")" tabindex="-1" role="dialog" aria-labelledby="screenshotModalLabel_@projectItem.ProjectName.Replace(" ", "_")" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="screenshotModalLabel_@projectItem.ProjectName.Replace(" ", "_")">@projectItem.ProjectName</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <img src="~/img/@projectItem.Screenshot" alt="@projectItem.ProjectName screenshot" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <ul>
                            @foreach (var item in @projectItem.Description)
                            {
                                <li>
                                    @item
                                </li>
                            }
                        </ul>
                        @if (!string.IsNullOrWhiteSpace(projectItem.Url))
                        {
                            <a href="@projectItem.Url">[Link]</a>
                        }

        </div>
        <div class="card-footer">
            @foreach (var item in projectItem.TechItems.OrderBy(x => x.CategoryId))
            {
                var cat = $"cat{item.CategoryId}";
                var http = $"/tech/#{item.Id}";
                <a href="@http" title="@item.CategoryName">
                <div class='itemBox @cat'>
                    @item.DisplayName
                </div>
                </a>
            } 
        </div>
    </div>
}