@using CV.Models
@model PartialViewModel<ProjectItem>

@foreach(var projectItem in Model.ItemList)
{
        <div class="card my-2" id="@projectItem.ProjectName">
        <div class="card-header">
            <div class="d-flex flex-wrap justify-content-between align-items-center item-title">
                <div class="p-2 flex-grow-1">
                    <div class="companyName">
                        @{
                        if (!string.IsNullOrWhiteSpace(projectItem.Url))
                        {
                                <a href="@projectItem.Url">@projectItem.ProjectName</a>
                        }
                        else
                        {
                            @projectItem.ProjectName
                        }
                    }
                    </div>
                    <div class="workTitle">
                        <i style="color: darkblue;"class="far fa-file-alt"></i>
                        @projectItem.Purpose
                    </div>
                </div>
                <div class="p-1">
                    <div>
                        @if (@projectItem.CodeAvailable)
                        {
                            <div class="fa-icon">
                                <i style="color: green;"class="far fa-check-circle"></i>
                            </div>
                            @:Code Available
                        }
                        else
                        {
                            <div class="fa-icon">
                                <i class="far fa-times-circle"></i>
                            </div>
                            @:Code Not Available
                        }
                        
                    </div>
                    <div>
                        <div class="fa-icon">
                            <i class="fas fa-bolt"></i>
                        </div>
                        @projectItem.Status
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
                                    <ul>
                            @foreach (var item in @projectItem.Description.Split("|"))
                            {
                            <li>
                                @item
                            </li>
                            }
                        </ul>
        </div>
        <div class="card-footer">
            @foreach (var item in projectItem.TechItems)
            {
                var cat = $"cat{item.CategoryId}";
                var http = $"/tech/#{item.Name}";
                <a href="@http">
                <div class='itemBox @cat'>
                    @item.Name
                </div>
                </a>
            } 
        </div>
    </div>
}