@using CV.Models
@model PartialViewModel<TechCategory>
@{
    int count = 0;
}

    <div class="d-flex justify-content-center">
     <div>   |
    @foreach (var techCategory in Model.ItemList)
    {
        @:&nbsp;<a href="#@techCategory.SingularName">@techCategory.Name</a>&nbsp;|
    }
    </div>
    </div>

@foreach (var techCategory in Model.ItemList)
{
    <table class="table table-stripedX table-hover table-sm" id="@techCategory.SingularName">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@techCategory.SingularName
                @if (!Model.IsForSearch)
                {
                    <a href="#"><i class="far fa-caret-square-up"></i></a>
                }
                </th>
                <th scope="col">Years</th>
                <th scope="col">Expierence</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var techItem in techCategory.TechItems.OrderByDescending(i => i.ExperienceLevel))
            {

            <tr id="@techItem.Name">
                <td scope="row" class="techImageTd">
                    <div class="techImageDiv">
                    @if(!string.IsNullOrWhiteSpace(techItem.Image))
                    {
                        <img class="techImage" src="~/img/@techItem.Image" />
                    }
                    else
                    {
                        <img class="techImage" src="~/img/blank.png" />
                    }
                    </div>
                    <div class="techName">
                        @techItem.Name
                    </div>
                </td>
                <td>
                    @techItem.Years
                </td>
                <td>
                    <div class="rating">
                        @for (int i = @techItem.GetFullStars() - 1; i >= 0; i--)
                        {
                            <i class="fas fa-star rating"></i>
                        }
                        @if (techItem.GetHalfStars() > 0)
                        {
                            <i class="fas rating fa-star-half-alt"></i>
                        }
                        @for (int i = @techItem.GetEmptyStars() - 1; i >= 0; i--)
                        {
                            <i class="far rating fa-star"></i>
                        }
                    </div>

                </td>

                <td>
                    <button class="btn btn-outline-dark"
                       aria-expanded="false"
                       data-toggle="collapse"
                       href='@("#collapseme"+count)'
                       role="button">
                       <div aria-hidden="true" class="expand"></div>
                    </button>
                </td>

            </tr>
                <tr class="collapse out" id='@("collapseme"+count++)'>
                    <td colspan="4">
                        <ul>
                            @foreach (var bullet in techItem.BulletPoints)
                            {
                            <li>
                                @bullet
                            </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
