@using CV.Models
@model PartialViewModel<WorkItem>

@foreach (var workItem in Model.ItemList)
{
    <div class="card my-2" id="@workItem.Id">
        <div class="card-header">
            <div class="d-flex flex-wrap justify-content-between align-items-center item-title">
                <div class="p-2 flex-grow-1">
                    <div class="companyName">
                        @if (!string.IsNullOrWhiteSpace(@workItem.Image))
                        {
                            <img class="workImage" src="~/img/@workItem.Image"/>
                        }
                        @workItem.CompanyName
                    </div>
                    <div class="workTitle">
                        <i class="far fa-address-card"></i>
                        @workItem.Position
                    </div>
                </div>
                <div class="p-1">
                    <div>
                        <div class="fa-icon">
                        <i class="far fa-calendar-alt"></i>
                        </div>
                        @workItem.StartDate.ToString("MMM-yyyy") to 
                        
                        @if (workItem.EndDate.HasValue)
                        {
                            @workItem.EndDate.Value.ToString("MMM-yyyy");
                        }
                        else 
                        {
                            @:Current 
                        }
                    </div>
                    <div>
                        <div class="fa-icon">
                        <i class="far fa-clock"></i>
                        </div>
                        @workItem.GetDuration()
                    </div>
                    <div>
                        <div class="fa-icon">
                        <i class="fas fa-map-marked-alt"></i>
                        </div>
                        @workItem.Location
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="fa-ul listItem">
                @foreach (var item in workItem.BulletPoints)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            @foreach (var item in workItem.TechItems.OrderBy(x => x.CategoryId))
            {
                var cat = $"cat{item.CategoryId}";
                var http = $"/tech/#{item.Id}";
                <a href="@http" title="@item.CategoryName">
                <div class='itemBox @cat'>
                    @item.DisplayName
                </div>
                </a>
            }
        </div>
    </div>
}
